log_level = "INFO"
data_dir = "/opt/nomad/data"
datacenter = "nak4"

#advertise {
#    http = "0.0.0.0"
#    rpc = "0.0.0.0"
#    serf = "0.0.0.0"
#}

server {
    enabled = true
    bootstrap_expect = 1
    encrypt = "${gossip_key}"
}

consul {
    address = "127.0.0.1:8500"
}
